:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #26251d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #646cff;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.dart {
  width: 30px;
  height: 30px;
}

header {
  position:fixed;

}

header .toolbar-primary {
  width: 100vw;
  background: #011d0b;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
}

footer {
  position:fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
}

footer .darts {
  display: flex;
  border-radius: 20px 20px 0px 0px;
  background: #011d0b;
  padding: 5px 15px;
}

.dartboard {
  padding-top: 150px;
}

.toolbar-primary .checkout {
  width: 100px;
  font-size: 1.2rem;
  background-color: #011006;
}
.toolbar-primary .checkout h2 {
  margin: 1rem;
}

.toolbar-secondary {
  display: flex;
}

.toolbar-secondary .checkout-buttons {
  background-color: #646cff;
  margin: auto;
  min-width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #011d0b;
  padding: 1rem 0.5rem;
  border-radius: 0px 0px 20px 20px;
}